@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

body {
  /* background-color: #ecedef; */
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

.app-container {
  height: 100%;
  background-color: #009688;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

.app-shop-mode {
  background-color: #ecedef;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-family: 'Dosis', sans-serif;
}
@media (min-width: 426px) and (max-width: 1024px)  {
  h1 {
    font-size: 46px;
  }

}
@media (min-width: 1024px) {
  h1 {
    font-size: 46px;
  }

}
