.header-container {
  width: 100%;
  margin-top: 5vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}

.header-category {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.header-cate-container p {
  display: inline;
  font-size: 8px;
}

.header-cate-container {
display: flex;
flex-direction: row;
text-align: center;
}

.header-button-container {
  margin: auto;
}
.header-button-container button {
  margin: 10px;
}

@media (min-width: 426px) and (max-width: 1024px)  {
}

@media (min-width: 1024) {
}
